https://jeromebuisine.fr {
  gzip
  tls jerome.buisine@outlook.fr
  root /root/projects/ResearchSite/public
  hugo /root/projects/ResearchSite {
    flag bind 0.0.0.0
  }
  log stdout
  error stderr {
    404 404.html
  }
}
