{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article article-project" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <button class="btn btn-default show-slide" style="float:right; margin-right: 120px; margin-top: 30px;"><i class="fas fa-chalkboard"></i></i>
</button>

  <div class="container">
    <div class="row">
      <div id="toc" class="well col-md-4 col-sm-6 hidden-sm hidden-xs">
          {{ .TableOfContents }}
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="pub-title">
          <h1 itemprop="name">{{ .Title }}</h1>
          <span class="pub-authors" itemprop="author">&nbsp;</span>
          <span class="pull-right">
            {{ partial "share.html" . }}
          </span>
        </div>

        <ul class="list-inline">
        {{ range $.Params.external_links }}
        <li>
          <a href="{{ index . 0 }}" target="_blank">
            <img src="https://img.shields.io/badge/{{ index . 1 }}-{{ index . 2 }}-{{ index . 3 }}.svg?style=flat-square" alt="{{ index . 1 }} - {{ index . 2 }}">
          </a>
        </li>
        {{ end }}
        </ul>

        <div class="article-style" itemprop="articleBody">
            {{ .Content }}
        </div>
        <div class="article-date">
          {{ with $.Params.date}}
            Last update {{ dateFormat "Monday, Jan 2, 2006" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</article>

<textarea id="source">
</textarea>

<!--<div class="container">
  {{ partial "section_pager.html" . }}
</div>-->


<script>

 $('#source').hide();

 $('.show-slide').click(function(){

    var slideshow = remark.create({
      sourceUrl: {{ $.Params.slide_link }},
      highlightStyle: 'tomorrow-night',
    });

    $('article').hide();
    $('footer').hide();
    $('nav').hide();
 });

</script>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
