<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* APA Style */}}
  {{ if eq ($.Site.Params.publications.citation_style | default "apa") "apa" }}

  <span itemprop="author" class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>
  ({{ .Date.Format "Jan 2006" | safeHTML }}).
  
  <br />
  
  {{ if .Params.publication_typename }}
   <strong>[{{- .Params.publication_typename | markdownify -}}] </strong>
  {{ end }}

  <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}}.
  {{ else if .Params.publication }}
  <i>{{- .Params.publication | markdownify -}}</i>.
  {{ end }}
  <p>{{ partial "page_links" (dict "content" . "is_list" 1) }}</p>

  {{/* MLA Style */}}
  {{ else }}

  <span itemprop="author" class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>.
  
  <br />
  
  {{ if .Params.publication_typename }}
   <strong>[{{- .Params.publication_typename | markdownify -}}] </strong>
  {{ end }}

  <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
  <i>{{- .Params.publication | markdownify -}}</i>,
  {{ end }}
  ({{ .Date.Format "Jan 2006" | safeHTML }}).
  <p>{{ partial "page_links" (dict "content" . "is_list" 1) }}</p>

  {{ end }}
</div>
